<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>784964955754-9egmkq0s87ep9624m599m1bqg3vila4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784964955754-9egmkq0s87ep9624m599m1bqg3vila4p</string>
	<key>API_KEY</key>
	<string>AIzaSyAe2rdkDru1WzqVsLN95ZlaxM1eNx58d38</string>
	<key>GCM_SENDER_ID</key>
	<string>784964955754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alarma</string>
	<key>PROJECT_ID</key>
	<string>alarma-221801</string>
	<key>STORAGE_BUCKET</key>
	<string>alarma-221801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784964955754:ios:8815517fd92351d2</string>
	<key>DATABASE_URL</key>
	<string>https://alarma-221801.firebaseio.com</string>
</dict>
</plist>